In [5]:
#Import Dependencies

import pandas as pd

#Create access to csv

datafile = "Resources/purchase_data.csv"

df = pd.read_csv(datafile)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
# Count the number of unique SN's to find the Total Number of Players

totplayers = df["SN"].nunique() 
totplayers

# To put into table I might have to make a DF

576

In [17]:
# Count the number of unique purchase items

uitems = df["Item Name"].nunique()
uitems

#Average purchase price

avgprice = df["Price"].mean()

#Total number of purchases

totpurchases = len(df["Purchase ID"])

# Sum of price for total revenue

totrev = df["Price"].sum()

print(uitems, avgprice, totpurchases, totrev)

# If I want to put into table I think that I have to enter the data into a DF

179 3.0509871794871795 780 2379.77

In [83]:
# Male, Female and non-disclosed counts by groupby

maledf = df.loc[df["Gender"] == "Male"]

malecount = len(maledf.groupby("SN"))

femaledf = df.loc[df["Gender"] == "Female"]

femalecount = len(femaledf.groupby("SN"))

nddf = df.loc[df["Gender"] == "Other / Non-Disclosed"]

ndcount = len(nddf.groupby("SN"))

# Percent by gender

mper = malecount / totplayers * 100
fper = femalecount / totplayers * 100
ndper = ndcount / totplayers * 100

print(malecount, femalecount, ndcount, mper, fper, ndper)
maledf.head()

484 81 11 84.02777777777779 14.0625 1.9097222222222223

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [110]:
# gendergroup = df.groupby("Gender")

# print(gendergroup["Purchase ID"].count(), \
# gendergroup["Price"].sum())

# Purchase count of M/F/ND of purchases

mpc = len(maledf)
fpc = len(femaledf)
ndpc = len(nddf)

print(mpc, fpc, ndpc)

652 113 15

In [107]:
# Total purchase value by gender

mtpv = maledf["Price"].sum()
ftpv = femaledf["Price"].sum()
ndtpv = nddf["Price"].sum()

print(mtpv, ftpv, ndtpv)

1967.64 361.94 50.19

In [108]:
# Average purchase price by gender

mapp = mtpv / mpc
fapp = ftpv / fpc
ndapp = ndtpv / ndpc

print(mapp, fapp, ndapp)

3.0178527607361967 3.203008849557522 3.3459999999999996

In [109]:
#Average Total Purchase per Person

matpp = mtpv / malecount
fatpp = ftpv / femalecount
ndatpp = ndtpv / ndcount

print(matpp, fatpp, ndatpp)

4.065371900826446 4.468395061728395 4.5627272727272725

In [112]:
# Age Demogrpahics

# Establish bins and labels for ages
age_splits = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

bins = [0, 10, 15, 20, 25, 30, 35, 40, 130]

age_group = pd.cut(df["Age"], bins, labels=age_splits)

age_group.head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [113]:
# Add Age Group column to original dataframe

df["Age Group"] = age_group
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [118]:
# Groupby age

agegroupby = df.groupby("Age Group")

age_pc = agegroupby["Purchase ID"].count()
age_app = agegroupby["Price"].mean()
age_tpp = agegroupby["Price"].sum()
count_per_age = agegroupby["SN"].nunique()

age_aptpp = age_tpp / count_per_age

print(age_pc, age_app, age_tpp, age_aptpp)

Age Group
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: Purchase ID, dtype: int64 Age Group
<10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
40+      3.075714
Name: Price, dtype: float64 Age Group
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
40+       21.53
Name: Price, dtype: float64 Age Group
<10      4.540000
10-14    3.819512
15-19    4.143733
20-24    4.231207
25-29    3.752881
30-34    4.208378
35-39    4.321154
40+      3.075714
dtype: float64